{% extends 'booking/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Про нас</h1>
    <p>Ми — сервіс бронювання кімнат.</p>
    <p>Наш сервіс дозволяє легко та швидко знаходити і бронювати конференц-зали, кімнати для зустрічей та інші простори для вашого бізнесу або особистих потреб.</p>
    <p>Ми прагнемо забезпечити зручність, надійність та ефективність для кожного користувача.</p>

    <a href="{% url 'room_list' %}" class="btn btn-secondary mt-3">На головну</a> {# ДОБАВЛЕНА КНОПКА "НА ГЛАВНУЮ" #}
</div>
{% endblock %}


