{% extends 'booking/base.html' %}
{% block content %}
<div class="container mt-4" style="max-width: 600px;">
    <h2>Бронювання квартири: {{ room.name }}</h2>

    <form method="post" class="card p-4 shadow-sm mb-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success w-100">Забронювати</button>
    </form>

    <h5>Вже заброньовані дати:</h5>
    {% if existing_bookings %}
        <ul class="list-group mb-3">
            {% for b in existing_bookings %}
            <li class="list-group-item">
                {{ b.start_date }} → {{ b.end_date }}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">Наразі немає бронювань.</p>
    {% endif %}

    <a href="{% url 'room_detail' room.id %}{% if request.GET.category %}?category={{ request.GET.category }}{% endif %}"
           class="nav-link text-dark-custom">
            ← Назад до кімнати
        </a>

</div>
{% endblock %}



