{% extends 'booking/base.html' %}

{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <h2 class="text-center mb-4">Вхід</h2>

    <form method="post" class="card p-4 shadow-sm">
    {% csrf_token %}

    <div class="mb-3">
        {{ form.username }}
    </div>

    <div class="mb-3">
        {{ form.password }}
    </div>

    <button type="submit" class="btn btn-primary w-100">Увійти</button>
    </form>

    <div class="text-center mt-3">
        <small>Немає акаунта? <a href="{% url 'register' %}">Зареєструватися</a></small>
    </div>
</div>
{% endblock %}
