{% extends 'booking/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4"> {# ДОБАВЛЯЕМ контейнер здесь #}
    <h1 class="mb-4">Room Booking</h1>
    <div class="row justify-content-center">
        {% for room in rooms %}
        <div class="col-md-6 col-lg-4 mb-4 d-flex">
            <div class="card flex-fill">
                <img src="{% static 'booking/images/room' %}{{ room.id }}.jpg" class="card-img-top" alt="{{ room.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ room.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Вміщує {{ room.capacity }} осіб</h6>
                    <p class="card-text">{{ room.description }}</p>
                    <a href="{% url 'room_detail' room.id %}" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div> {# ЗАКРЫВАЕМ контейнер здесь #}
{% endblock %}


